@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

#mainBody{
    margin: auto;
    max-width: 1000px;
    background-color: #8c0000;
}

body{
    background-color: #b9ecff;
    font-family: 'Ubuntu Mono', monospace;
}

header{
    padding: 5%;
    color: whitesmoke;
}

main{
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

section{
    border: 5px solid black;
    border-radius: 10px;
}

img{
    padding: 5px;
    justify-content: center auto;
}

h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

p{
    text-align: center;
}
a:link{
    color:blueviolet;
    text-decoration: none;
}

a:hover{
    text-decoration: hover;
    color:orangered;
}

footer{
    padding: 2%;
    text-align: center;
    color: whitesmoke;
}

h1{
    font-size: 3.5em;
    text-align: center;
    padding: 22px;
}