@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Source+Sans+Pro&display=swap');
/*
    font-family: 'Bitter', serif;

    font-family: 'Source Sans Pro', sans-serif;
*/
:root {
    --red:      #D64933;
    --blue:     #92DCE5;
    --gray:     #EEE5E9;
    --darkgray: #2B303A;
}
h1, h2, h3, h4, h5 {
    font-family: 'Bitter', serif;
}
p, li {
    font-family: 'Source Sans Pro', sans-serif;
}