@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Yaldevi&display=swap');
/*    
font-family: 'Playfair Display', serif;
font-family: 'Yaldevi', sans-serif;
*/

:root {
    --lightblue: #5b82ec;
    --orange: #f8a700;
    --blue: #011e2c;
  }

body {
    background-color: var(--lightblue);
    color: var(--blue);
}
.logo {
    max-width: 350px;
    height: auto;
    display:block;
    margin: auto;
}

nav ul li a:hover {
    color: var(--lightblue);
    background-color: var(--orange);
}
nav {
    margin: 0 auto;
    max-width: 1004px;
    text-align: center;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}
li a {
    display: block;
    width: 60px;
  }
.responsive {
    display: none;
}
.hamButton {
    text-decoration: none;
}
footer {
    text-align: center;
}
h1, h2, h3, h4 {
    font-family: 'Yaldevi', sans-serif;
}
li, p, a {
    font-family: 'Playfair Display', serif;   
}

.headerTitle {
    text-align: center;
}